{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<!-- Header -->
<header id="header">
  <a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
  <h1><strong>Wcamodel</strong><br />
    Modelos webcam.</h1>
</header>

<!-- Main -->
<div id="main">

  <!-- Two -->
  <section id="two">
    <h2>Recent Work</h2>
    <div class="row">
      {% for model in models %}
      <article class="6u 12u$(3) work-item">
	<a href="{% url 'model-profile' model.nickname %}" class="image fit thumb">
          <img src="{{ model.profile_pic }}" alt="" /></a>
	<h3>{{ model.nickname }}</h3>
	<p>{{ model.bio }}</p>
      </article>
      {% endfor %}
  </section>

</div>
{% endblock content %}
